body {
	background-color: rgb(241, 227, 144);
	text-align: center;
	margin: 0;
}

p {
	font-size: 21px;
}



.heading{
	text-align: center;
	padding: 10px;
}
.paragraph {

	border: 2px;
	border-style: solid;
	width: 25%;
	text-align: center;
	margin: 10px auto;
	padding: 5px 20px;
}


.paybutton {
	color:blue;
}
.button {
  	background-color: gray;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

.container {
	
	text-align: center;
}
.image {
	width: 20%;
	padding-bottom: 20px;

}
.logo {
	width: 50px;
	border-radius: 50%;
	margin-top: 15px;
	margin-left: 5px;
	float: left;
}

.bar {
	border: 2px;
    list-style-type:none;
 	padding:0;
    text-align:center;
    background-color: black;


}
.bar li {
	display: inline;
	margin-left: -45px;
	margin-right: 25px;

	
}
.bar a{

	display: inline-block;
	color: white;
	padding: 20px;
	text-decoration: none;
	font-size: 25px;



}

