body {
	background-color: rgb(241, 227, 144);
}

p {
	font-size: 21px;
}



.heading{
	text-align: center;
	padding: 10px;
}
.paragraph {

	border: 2px;
	border-style: solid;
	width: 25%;
	text-align: center;
	margin: 10px auto;
	padding: 5px 20px;
}


.paybutton {
	color:blue;
}

.container {
	
	text-align: center;
}
.image {
	width: 20%;
	padding-bottom: 20px;

}
.logo {
	border-radius: 50%;
	width: 50px;
	overflow: hidden;
	margin-top: 10px;
	margin-left: 5px;

	float: left;
	display: inline-block;

}
.bar {
	border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0 auto;
    padding:0;
    text-align:center;
    background-color: black;

}
.bar li {
	display: inline;
	
}
.bar a{
	display: inline-block;
	color: white;
	padding: 20px;
	text-decoration: none;


}